
@media only screen and (min-width:650px) {
  .top-nav ul li {
    display: inline-block;

  }
  .cover-image{
  width: 100%;
  height:400px;
}



  }


@media only screen and (min-width:650px) and (max-width:1000px){
  .top-nav ul {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center
  }

    div.cover-image{
    width: 100%;
    height:400px;
}

  .top-nav ul li {
  margin: 2px;
  }


}



  @media only screen and (min-width: 1000px) {

  .top-nav ul {
    width: 100%;
    text-align:right;
    display: inline-block;
  }


    }
