@media only screen and (min-width:650px) {
  .top-nav ul li {
    display: inline-block;
  }
  }

  @media only screen and (min-width: 650px) and (max-width: 1000px){
    .top-nav ul {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center
    }

    .top-nav ul li{
      margin: 2.5px;
    }

    .photo-grid{
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
    }

    .photo-cell {
      grid-column: span 2;
  }
    .small-photo-cell{
      grid-column: span 1;
    }

    }

  @media only screen and (min-width: 1000px) {

  .top-nav ul {
    width: 100%;
    text-align:right;
  }

  .photo-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
  }

  .photo-cell {
    grid-column: span 2;
}
  .small-photo-cell{
    grid-column: span 1;
  }
    }
